<h2>SD-politiker om gruppvåldtäkten: Sossekärrings högsta dröm</h2>
<p>
  En främlingsfientlig sajt skrev om en gruppvåldtäkt i norska Bergen.

  ”Varenda svensk sossekärrings högsta dröm”, kommenterade Sverigedemokraternas nyutnämnda nämndeman Leon Rhodin, 61.

  – Vi måste utreda allt förtroendeskadligt, säger lagmannen Mari Hedenborg på Solna tingsrätt.
</p>
<img src="http://d1.dn-static.se/UploadedImages/2015/2/5/48ac66a2-26d5-4652-8382-fb40e5bb16a8/original.jpg">
<footer layout="row">
  <person></person><div flex></div><img class="logo" src="http://www.dn.se/Images/Logos/dnse-logo.png">
</footer>
