<div class="article">
  <h1>{{article.title}}</h1>
  <h4>{{article.preamble}}</h4>
<div class="content">
  <img ng-src="{{article.imageUrl}}">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra, nulla a ornare scelerisque, est dui vehicula libero, eu varius ligula leo in justo. Ut et sapien purus. Cras vel mattis dui. Etiam vel ex aliquet, ornare dui ac, lobortis odio. Praesent condimentum euismod laoreet. Nunc convallis id ipsum dictum dapibus. Praesent ac elit at arcu vehicula consectetur. Nunc tempor justo orci, eget lacinia elit viverra ac. Sed rutrum ex a elementum suscipit. Sed fermentum quam nec lorem iaculis mollis. Phasellus eget laoreet elit. Duis non commodo lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et lacus eget lacus tristique laoreet.

    Sed vel leo mollis, placerat purus nec, ullamcorper felis. Donec eget tellus eu nisl mollis dictum id sit amet dui. Mauris vitae ornare nunc. Suspendisse mattis porta rutrum. Pellentesque imperdiet placerat lorem, quis sollicitudin augue euismod vel. Nam pretium sem sit amet mi ultrices, quis fringilla mi elementum. Nullam vel placerat purus, ac iaculis nibh. Vivamus aliquet erat vehicula ante sodales, a consequat massa ornare. Aliquam dapibus nibh metus, eget pellentesque velit vehicula vel. Nam pulvinar lectus sed cursus tincidunt. Aliquam tincidunt dignissim metus vel efficitur.

    Integer dapibus nunc non turpis volutpat pulvinar. Etiam venenatis, mi quis lobortis varius, erat purus eleifend sem, quis commodo sem nisl sit amet augue. Maecenas vitae eros vehicula, porta nisi varius, pulvinar orci. Praesent eget dui vehicula, pellentesque orci vel, vulputate metus. Fusce semper dolor sollicitudin ex tempus auctor. Donec scelerisque, risus eu iaculis auctor, augue nulla lacinia metus, eget pulvinar risus magna et justo. Nullam laoreet diam at velit sollicitudin, sodales malesuada enim ultrices. Mauris ante enim, sodales vel neque sit amet, suscipit placerat massa. Sed gravida hendrerit lorem, at cursus nibh vestibulum eget. Aliquam nec mi malesuada, posuere quam nec, condimentum dolor. Praesent bibendum tincidunt turpis, non lobortis mauris euismod dictum. Nullam aliquet eu nisi ac consectetur. Donec elementum vitae augue et dapibus.</p>

</div>
  <div class="footer">
  <h4>{{author.name}} </h4>
  <h4> {{author.email}}</h4>
  <img   class="logo" ng-src="{{newspaper.logo}}">
  </div>
</div>
