<div ng-controller="cardCtrl" class="cards">
    <div>
        <form class="form-inline">
            <input ng-model="filterQuery" type="text" placeholder="Sök" autofocus>
        </form>
    </div>
    <label ng-repeat="item in scopes">
        <input type="radio" ng-model="$parent.filterQuery" value="{{item.scope.name}}">  {{item.scope.name}} <br/>
    </label>
    <tagcloud concepts="concepts" clickfunc="clickfunc"></tagcloud>

    <card ng-repeat="item in articleList | filter:filterQuery ">
    </card>
</div>
